.header1{
    color:white;
    font-size:12px;
}
#button_1{
    border-radius:18px;
    float:right;
    margin-right:7%;
    color:white; 
    background-color:green; 
    width:125px;
    margin-top: 24px; 
    padding: 5px;
}

.navbar-default.evelen-tv {
    background-color: deeppink;
    border-color: deeppink;
}

.navbar-default.evelen-tv .navbar-toggle {
    border-color: #cc7676;
}

.navbar-default.evelen-tv .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default.evelen-tv .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #cc7676;
    cursor:pointer;
}
@media (min-width: 1200px) {
    .container {
         width: 1000px;
       }
}
